In [6]:
# Import dependencies
import pandas as pd
import time

In [4]:
# Import csv file
import_file = 'cities.csv'
df_wx_data = pd.read_csv(import_file)
df_wx_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Qaqortoq,60.7167,-46.0333,50.00,29,20,11.50,GL,1619132249
1,1,Half Moon Bay,37.4636,-122.4286,62.01,87,75,6.91,US,1619132459
2,2,Hobyo,5.3505,48.5268,83.53,71,77,11.59,SO,1619132459
3,3,Atuona,-9.8000,-139.0333,80.82,76,49,19.53,PF,1619132460
4,4,Kapaa,22.0752,-159.3190,81.00,73,20,9.22,US,1619132460

In [5]:
df_wx_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  555 non-null    int64
 1   City        555 non-null    object
 2   Lat         555 non-null    float64
 3   Lng         555 non-null    float64
 4   Max Temp    555 non-null    float64
 5   Humidity    555 non-null    int64
 6   Cloudiness  555 non-null    int64
 7   Wind Speed  555 non-null    float64
 8   Country     550 non-null    object
 9   Date        555 non-null    int64
dtypes: float64(4), int64(4), object(2)
memory usage: 43.5+ KB

In [7]:
# Clean up the collection date
pretty_date = []
for idx, row in df_wx_data.iterrows():
    data_time = time.localtime(row["Date"])
    pretty_date.append(f"{data_time.tm_mon}/{data_time.tm_mday}/{data_time.tm_year}")

df_wx_data["Date"] = pretty_date
df_wx_data.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Qaqortoq,60.7167,-46.0333,50.00,29,20,11.50,GL,4/22/2021
1,1,Half Moon Bay,37.4636,-122.4286,62.01,87,75,6.91,US,4/22/2021
2,2,Hobyo,5.3505,48.5268,83.53,71,77,11.59,SO,4/22/2021
3,3,Atuona,-9.8000,-139.0333,80.82,76,49,19.53,PF,4/22/2021
4,4,Kapaa,22.0752,-159.3190,81.00,73,20,9.22,US,4/22/2021

In [9]:
# Clean up columns for export
df_wx_data_clean = df_wx_data[["City","Country","Lat","Lng","Max Temp","Humidity","Cloudiness","Wind Speed","Date"]]
df_wx_data_clean.index.name = "City ID"
df_wx_data_clean.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Date
City ID,,,,,,,,,
0,Qaqortoq,GL,60.7167,-46.0333,50.00,29,20,11.50,4/22/2021
1,Half Moon Bay,US,37.4636,-122.4286,62.01,87,75,6.91,4/22/2021
2,Hobyo,SO,5.3505,48.5268,83.53,71,77,11.59,4/22/2021
3,Atuona,PF,-9.8000,-139.0333,80.82,76,49,19.53,4/22/2021
4,Kapaa,US,22.0752,-159.3190,81.00,73,20,9.22,4/22/2021

In [12]:
df_wx_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 555 entries, 0 to 554
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        555 non-null    object
 1   Country     550 non-null    object
 2   Lat         555 non-null    float64
 3   Lng         555 non-null    float64
 4   Max Temp    555 non-null    float64
 5   Humidity    555 non-null    int64
 6   Cloudiness  555 non-null    int64
 7   Wind Speed  555 non-null    float64
 8   Date        555 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 39.1+ KB

In [15]:
# Export to html
cities_html = df_wx_data_clean.to_html(justify="left",classes='table table-striped')
write_file = open("cities.html", "w", encoding="utf-8")
write_file.write(cities_html)
write_file.close()